body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #F2F2F2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-tablet, .hero-desktop {
    display: none;
}
.header-logo {
    width: 89px;
    height: 25px;
}
.header-button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    background: #13183F;
    border-radius: 28px;
    padding: 9px 24px 11px 24px;
    width: 167px;
    height: 56px;
}
.text-container-h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #13183F;

    width: 343px;
    height: 101px;
}
.text-container-p {
    font-style: normal;
    font-weight: 500;   
    font-size: 16px;
    line-height: 26px;
    color: #83869A;

    width: 343px;
    height: 78px;
}
.text-container-button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);  
    border-radius: 31.5px;
    padding: 15px 37px;
    margin-right: 200px;
    width: 167px;
    height: 56px;
}
main, .header, .text-container, .img, .cards {
    background: #FFFFFF;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 16px 45px 16px;
}
.text-container {
    align-items: center;
    gap: 25px;
    padding: 0 16px 46px 16px;
}
.cards {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    gap: 40px;
    margin-bottom: 80px;
}
.card1, .card2, .card3, .card4, .card5 {
    width: 343px;
    height: 259px;
    padding: 0 28px 32px 28px;

    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
}
.card0 {
    width: 343px;
    height: 120px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 10px;
    padding: 24px 29px 32px 28px;
}
.p1, .p1-2, .p1-3, .p1-4, .p1-5 {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #13183F;
    margin-bottom: 16px;
}
.p2, .p2-2, .p2-3, .p2-4, .p2-5 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin-bottom: 24px;

    width: 286px;
    height: 78px;
}
.p3, .p3-2, .p3-3, .p3-4, .p3-5 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
}
.svg1, .svg2, .svg3, .svg4, .svg5 {
    transform: translatey(-25px);
}
.footer {
    height: 120px;
    background: #13183F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 43px 16px 42px 16px;
}
.footer-p {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
}
.footer-button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    border-radius: 28px;
    padding: 9px 24px 11px 24px;
    width: 140px;
    height: 48px;
}
